*.gz
*.html
workspace/.metadata/
workspace/
.metadata/
*.txt
*.out
*.RData
*.o
*.dll
.Rproj.user

00check.log

PhyloSim.so
PhyloSimManual-concordance.tex
PhyloSimManual.bbl
PhyloSim/vignettes/PhyloSimManual.blg
PhyloSim/vignettes/PhyloSimManual.log
PhyloSim/vignettes/PhyloSimManual.pdf
PhyloSimManual.toc
PhyloSim/vignettes/Sweave.sty
PhyloSim/vignettes/Sweavel.sty
PhyloSim/vignettes/figure
PhyloSim/vignettes/PhyloSimManual.tex
PhyloSim/examples/SAC/SAC_cache/
PhyloSim/vignettes/Vignette_bib.bib.bak
PhyloSim/inst/doc/PhyloSimManual.Rnw
PhyloSim/inst/doc/PhyloSimManual.R


*.aux
*.idea
CMakeFiles
cmake-build-debug
.positai
.DS_Store
.Rhistory
